div#page1{
    background-image: url(assets/main-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div#page1 div.navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    color: white;
    justify-content: space-between;
}

div#page1 div.boxleft{
    display: flex;
    width: 60%;
}

div#page1 div.box1{
    margin-left: 6%;
}
div#page1 div.box1 h4{
    font-size: 25px;
}

div#page1 div.box2{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 15%;
    margin-top: 5px;
}

div#page1 div.box2 h5{
    font-size: 15px;
}

div#page1 div.box3{
    display: flex;
    width: 15%;
}
div#page1 div.box3 h5{
    margin-right: 20%;
    font-size: 15px;
    margin-top: 5px;
}

div#page1 div.playnow{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    text-align: center;
}

div#page1 div.playnow h1{
    font-size: 43px;
    margin-bottom: 2%;
    letter-spacing: 3px;
}

div#page1 div.playnow p{
    font-size: 20px;
    margin-bottom: 2%;
    letter-spacing: 3px;
}

div#page1 div.playnow a{
    font-size: 20px;
    width: 200px;
    height: 50px;
    padding-top: 8px;
    font-weight: 500;
    background-color: orange;
}

div#page1 .story{
    position: absolute;
    left: 48%;
    text-align: center;
    top: 95%;
    color: white;
}

div#page1 p{
    margin-bottom: 0px;
    font-size: 10px;
}


div#page2{
    background-image: url(assets/the-games-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

div#page2 div.text{
    position: absolute;
    color: white;
    top: 38%;
    padding-left: 27%;
    letter-spacing: 3px;
    width: 100%;
    box-sizing: border-box;
}

div#page2 div.pic{
    position: absolute;
    padding-left: 43%;
    top: 43%;
    width: 100%;
    box-sizing: border-box;
}

div#page2 div.pic img{
    width: 500px;
}

div#page2 div.text p{
    font-size: 12px;
    margin-bottom: 0px;
}

div#page2 div.arrow{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 60%;
    padding-left: 41%;
    padding-right: 18%;
}

div#page2 div.arrow img{
    height: 20px;
}
div#page2 div.radio{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 78%;
    padding-left: 50%;
    padding-right: 28%;
}

div#page2 div.radio img{
    width: 10px;
}

div#page3{
    background: url(assets/features.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

div#page3 div.row{
    width: 98%;
}
div#page3 div.intro{
    color: white;
    position: absolute;
    top: 80px;
}

div#page3 div.intro p{
    margin-bottom: 0px;
    letter-spacing: 3px;
}

div#page3 div.intro h1{
    letter-spacing: 3px;
    font-size: 50px;
    font-weight: 400;
}

div#page3 div.timeline{
    position: absolute;
    top: 230px;
    width: 380px;
    letter-spacing: 2px;
}

div#page3 div.timeline h3{
    color: goldenrod;
}

div#page3 div.timeline p{
    color: white;
    margin-bottom: 70px;
}

div#page3 div.timeline.bot{
    top: 450px;
}

div#page3 div.timeline.top h3:first-child:before{
    content: url(assets/ellipse.svg);
    position: absolute;
    left: -50px;
}

div#page3 div.timeline h3::before{
    content: url(assets/ellipse-outline.svg);
    position: absolute;
    left: -50px;
}

div#page3 div.line{
    border-left: 2px solid white;
    position: absolute;
    height: 151px;
    left: -27px;
    top: 250px;
}

div#page4{
    background: url(assets/requirements.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

div#page4 div.requirements{
   width: 98%;
}

div#page4 h1, p{
    color: whitesmoke;
}

div#page4 h3{
    color: goldenrod;
    font-weight: 400;
    letter-spacing: 2px;
}

div#page4 div.can{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 70px;
}

div#page4 div.requirements{
    position: absolute;
    padding-left: 70px;
    top: 120px;
    box-sizing: border-box;
}

div#page4 div.row:not(:first-child) div.col{
    border: 1px solid rgb(255, 252, 252,0.3);
    padding: 10px;
}

div#page4 h1{
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 3px;
}

div#page4 p{
    margin-bottom: 0px;
}


div#page5{
    background: url(assets/top-score-bg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

div#page5 div.scores{
    padding-top: 4%;
    padding-left: 5%;
    box-sizing: border-box;
    width: 98%;
}

div#page5 h1{
    color: whitesmoke;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 45px;
}
div#page5 h2{
    color: goldenrod;
    font-size: 20px;
    margin-bottom: 0px;
}
div#page5 h3{
    color: grey;
    font-size: 14px;
}
div#page5 h4{
    color: grey;  
    font-size: 12px; 
}
div#page5 p{
    color: whitesmoke;
}

div#page5 div.col-lg-3 p{
    font-size: 12px;
    letter-spacing: 1px;
}
div#page5 div.scores a{
    background-color: rgb(240, 186, 49);
    width: 70%;
} 

div#page5 div.box{
    position: relative;
    background-color: rgb(128, 128, 128, 0.1);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
}
div#page5 div.box div.head{
    display: flex;
    justify-content: space-between;
}
div#page5 div.box div.head div.left{
    display: flex;
}
div#page5 div.box div.head div.left div.orange{
    position: absolute;
    left: 15px;
    top: 12px;
    z-index: 1;
}
div#page5 div.box div.head div.left div.name{
    margin-left: 10px;
    margin-top: 3%;
}

div#page5 div.box div.head div.left img{
    width: 50px;
    height: 50px;
    z-index: 2;
}

div#page6{
    background: url(assets/newsletter.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

div#page6 div.newsletter{
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 7%;
    position: relative;
}
div#page6 h1{
    color: whitesmoke;
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: 400;
}
div#page6 h2{
    color: whitesmoke;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 300;
}
div#page6 h3{
    color: whitesmoke;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 200;
    margin-bottom: 8%;
}
div#page6 h4{
    color: goldenrod;
}
div#page6 h5{
    color: grey;
    margin-bottom: 0px;
}

div#page6 div.email{
    background-color: rgb(128, 128, 128, 0.2);
    border-radius: 5px;
}

div#page6 div.newsletter img{
    height: 450px;
    border-radius: 50%;
    opacity: 70%;
    position: absolute;
    left: 20%;
}

div#page6 a{
    height: 100%;
    width: 100%;
    font-weight: 800;
    padding-top: 6%;
}

div#page6 div.footer{
    position: relative;
}

div#page6 div.footer div.top{
    display: flex;
    position: absolute;
    justify-content: space-between;
    margin-top: 10%;
    padding-left: 30%;
    box-sizing: border-box;
    width: 100%;
    padding-right: 5%;
}
div#page6 div.footer div.top img{
    width: 20px;
    height: 20px;
}

div#page6 div.footer div.top i.youtube{
    color: red;
    font-size: 20px;
}
div#page6 div.footer div.top i.twitter{
    color: white;
    font-size: 20px;
}
div#page6 div.footer div.top p{
    font-size: 12px;
}

div#page6 div.footer div.bottom{
    position: absolute;
    width: 85%;
    justify-content: space-between;
    display: flex;
    border-top: 1px solid white;
    left: 10%;
    margin-top: 12%;
}

div#page6 div.footer div.bottom p{
    font-size: 12px;
}
div#page6 div.footer div.bottom h5{
    font-size: 12px;
    color: grey;
}